on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Install ack
        run: sudo apt-get update && sudo apt-get install -y ack-grep
        shell: bash # Explicitly use Bash because otherwise failing Windows jobs are not erroring.

      - name: Install testing linting
        run: make install-tools-linting
        shell: bash # Explicitly use Bash because otherwise failing Windows jobs are not erroring.

      - name: Lint
        run: make lint
        shell: bash # Explicitly use Bash because otherwise failing Windows jobs are not erroring.
